{%  extends 'accounts/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Doctors</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Doctor</th>
							<th>Speciality</th>
							<th>Contact Mail</th>
						</tr>

						{% for i in doctors %}
							<tr>
								<td>{{i.name}}</td>
								<td>{{i.speciality}}</td>
								<td>{{i.email}}</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}