{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			{% for message in messages %}
			<p>{{message}}</p>

			<td><a class="btn btn-sm btn-info" href="{%url 'available'%}">View Available Slots</a></td>
			<br>
			{% endfor %}	
			
			<form action="" method="POST">
				{% csrf_token %}
				{{ form.management_form }}
				{% for field in form %}
					{{field}}
					<hr>
				{% endfor %}
				
				<input class="btn btn-danger" type="submit" name="Submit">
				<a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
				<br>
				<br>
				<td><a class="btn btn-sm btn-info" href="{%url 'available'%}">View Booked Slots</a></td>
				
			</form>

		</div>
	</div>
</div>


{% endblock %}