{%  extends 'accounts/main.html' %}
{% block content %}
{%  include 'accounts/status.html' %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Doctor</th>
					<th>Date </th>
					<th>Time</th>
					<th>Update</th>
					<th>Cancel</th>
				</tr>
				{% for order in appointments %}

				<tr>
					<td>{{order.Doctor}}</td>
					<td>{{order.day}}</td>
					<td>{{order.time_slot}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Cancel</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
	<div class="card card-body">
		<hr>
		<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_order' request.user.id %}">Book an Appointment</a>
		<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'doctors'%}">View All Doctors</a>
	</div>
{% endblock content %}